body {
 color: rgba(245, 247, 248, 0.85);
 font-family: 'Prompt' sans-serif;
 font-size: 20px;
}

.main {
 position: fixed;
 top: 0;
 left:0;
 right: 0;
 bottom: 0;
 background-image: url("../images/photo.jpg");
 background-repeat: no-repeat;
 overflow-x: scroll;
 }

.main::after {
 content: "";
 background-color:  rgba(58, 58, 158, 0.8);
 position: fixed;
 right: 0;
 left: 0;
 bottom: 0;
 top: 0;
 z-index: 0
 }

.main-content {
 display: flex;
 flex-direction: column;
 margin: 0 auto;
 margin-bottom: 40px;
 padding: 40px;
 max-width: 710px;
 background-color: rgba(22, 22, 60, 0.7);
 border-radius: 15px;
 z-index: 2;
 position: relative;
 }

.main > h1,
.main > p  {
 text-align: center;
 position: relative;
 color: white;
 z-index: 1;
}

#email, #name, #number {
  display: block;
  height: 35px;
  width: 700px;
  border-radius: 5px;
  margin-bottom: 40px;
  border: none;
}

#dropdown {
  display: block;
  height: 40px;
  width: 706px;
  margin-bottom: 40px;
  border-radius: 10px;
  border: none;
  font-size: 14px;
  font-family: 'Prompt' sans-serif;
}

#dropdown2 {
  margin-top: 25px;
  display: block;
  width: 706px;
  height: 40px;
  margin-bottom: 40px;
  border-radius: 10px;
  border: none;
  font-family: 'Prompt' sans-serif;
  font-size: 14px;
}

label {
  display: block;
}

label[for=name],
label[for=email],
label[for=number],
label[for=dropdown]  {
  display: inline-block;
  margin-bottom: 10px;
}

label[for=dropdown2] {
  margin-top: 20px;
  margin-bottom: -15px;
}

label[for=comment] {
  margin-top: 20px;
}

#Yes, #No, #NotSure {
  margin-bottom: 15px;
}

#hours1, #hours2, #hours3, #hours4 {
  margin-bottom: 10px;
  padding-bottom: 20px;
}

span {
  display: inline-block;
  position: relative;
  top: 3px;
  left:3px;
}

#comment {
  display: inline-block;
  width: 700px;
  height: 150px;
  margin-top: 10px;
  margin-bottom: 40px;
}

input,#number[type='text']::placeholder {
  padding-left: 5px;
  font-size: 15px;
}

textarea {
  font-size: 16px;
}
button {
  height: 45px;
  width: 706px;
  border-radius: 5px;
  background-color: rgba(117, 225, 10, 0.9);
  border: none;
  font-family: 'Kanit', sans-serif;
  font-size: 20px;
  color: white;
  font-stretch: ultra-expanded;
}

button:hover {
  cursor: pointer;
  border: 2px solid rgba(39, 196, 245, 0.8);
}
